aside {
  position:fixed;
  z-index: 10;
  top: 200px;
}

.shift {
 border-radius: 0 25px 25px 0;
 width: 175px;
 position: relative;
 left : -125px;
 transition: left 1.5s;
 height: 50px;
}

.shift:hover {
 left: 0;
}

.form {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 20px;
}

.fab {
  font-size: 2em;
}

.clear-right {
  clear: right;
}

.center-height {
  line-height: 50px;
  font-size:1.3em;
  color: white;

}

/* Jumbo */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.im1 {
  background-image: url(../images/inception-2010-scifi.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.im2 {
  background-image: url(../images/intouchables-2011-comedie.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.im3 {
  background-image: url(../images/lesdeuxtours-2002-aventure.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
.im4 {
  background-image: url(../images/shutterisland-2010-thriller.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}
/* .film{
  border-style: solid;black;
  height: 410px;
} */
.film{
  border-style: solid;black;
}
.a1{
  background-image: url(../images/batmanmovie-2017-comedie.jpg);
  background-size: contain;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.a2{
  background-image: url(../images/Survivestyle5-2004-comedie.jpg);
  background-size: contain;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.a3{
  background-image: url(../images/lesdeuxtours-2002-aventure.jpg);
  background-size: contain;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.a4{
  background-image: url(../images/seven-1995-thriller.jpg);
  background-size: contain;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
.a5{
  background-image: url(../images/starwarsempire-1980-scifi.jpg);
  background-size: contain;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}
