/* menu */

#top nav {
position: absolute;
width: 100%;
z-index: 20;
}

.icon, .big {
  padding: 0;
  font-size: 2.5em;
}

#collapsibleNavbar li:not(:first-child) a{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#collapsibleNavbar li a{
  font-size: 0.7em;
}

.red {
  color: rgb(253, 67, 63);
  font-weight: bold;
}

.redback {
  background-color: rgb(253, 67, 63);
  line-height: 0;
  height: 30px;
}
.logbut{
  padding-top: 4px;
}

.numero{
  padding-left: 30px;
  color: white;
  font-size: 10px;
  padding-right: 20px;
  padding-top: 12px;

}
.fa-phone{
  transform: rotateY(180deg);
  font-size: 8px;
}

.btn-black {
  background-color: black;
  color: white;
  height: 22px;
  font-size: 12px;
  font-variant-caps: all-small-caps;
}

.round-like {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #e0e0e0;
  height: 25px;
}

.posright {
  position: absolute;
  right: 0px;
}

/* social network */

aside {
  position:fixed;
  z-index: 10;
  top: 200px;
  text-align: inherit;
}

.shift {
 border-radius: 0 25px 25px 0;
 width: 115px;
 position: relative;
 left : -85px;
 transition: 1.0s;
 height: 35px;
 transition-delay: 1;

}
.shift:active {
 left: 0;
}

.form {
  height: 25px;
  width: 25px;
  background-color: white;
}
.twitter{
  background-color: #29A6F1;
}
.facebook{
  background-color: #3E6092;
}
.dribble{
  background-color: #EF4F8A;
}
.googlePlus {
  background-color: #E4493C;
}
.twi, .fac, .dri, .goo {
  font-size: 11px;
  padding-left: 4px;
  color: black;
}
.twi:hover, .fac:hover, .dri:hover, .goo:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}
.twi:focus, .fac:focus, .dri:focus, .goo:focus {
  text-decoration: none;
}
.clear-right {
  clear: right;
}

.center-height {
  line-height: 50px;
  font-size:12px;
  color: white;
}

/* Jumbo */

.text-pos {
  top: 150px;
  z-index: 500;
  width: 100%;
  height: auto;
  color: white;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-indicators .active {
  background-color: rgb(253, 67, 63);
}
.carousel-indicators li{
  background-color: white;
}
.carousel-inner{
  background-color: black;
}
.im1, .im2, .im3, .im4 {

  background-size: cover;
  background-position: center;
  height: 400px;
  filter: opacity(40%);
}
.im1 {
  background-image: url(../images/jumbo_Avengers_Infinity_war_poster.jpg);
}
.im2 {
  background-image: url(../images/jumbo_rpo_poster.jpg);
}
.im3 {
  background-image: url(../images/jumbo_Indiana_Jones_and_the_Last_Crusade_A.jpg);
}
.im4 {
  background-image: url(../images/jumbo_4811873ccd5d9.jpg);
}

/* FILM */
.cadre{
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 3px;
  height: auto;
}

.film{
  padding-top: 25px;
}
.titre {
  padding-top: 145%;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
}

.a1, .a2, .a3, .a4, .a5 {
  background-size: contain;
  height: auto;
  background-repeat: no-repeat;
  line-height: 4px;
}

.annee {
  font-size: 10px;
}
.genre {
  font-size: 10px;
  text-align: right;

}

/*Featured movies*/
.txt1{
  font-size: 13px;
  line-height: 4px;
}
.card{
  border:none;
  padding-top: 26px;
}
.card-img-top{
  border-radius: 0;
}
.card-footer{
  padding-left: 0;
  border-top: none;
  background-color: inherit;
  padding-top: 12px;
}
.hiddenRow, .showless {
  display: none;
}

.btn-light {
  background-color: #DFDFE0;
  color: black;
  height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}
.btn-light:hover, .btn-light:active, .btn-light:focus {
  background-color: rgb(253, 67, 63);
  color: white;
  border: none;
  outline: none;
}
.movies1{
  padding-bottom: 20px;
}
#theshowmust, .trailerbutt{
  font-variant-caps: all-small-caps;
  background-color: rgb(253, 67, 63);
  color: white;
}
.showbut {
  width: 100%;
  text-align: center;
}
.filmouf {
  line-height: 13px;

}
/* Shop movies */

.prix {
  text-align: right;
  color: red;
}
#shopBack, #shopForward{
  background-color: black;
  color: grey;
  padding: 0;
  width: 20px;
}
.arrowlr{
  text-align: right;
  padding: 0;
  font-size: 20px;
  z-index: 1;

}
.boxvideo {
  background-color: black;
  padding: 0;
}

#embed2{
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0 !important;
  padding-left: 4px;
}
#embed3, #embed4, #embed5, #embed6{
  font-weight: lighter;
  font-size: 12px;
  padding-right: 15px;
}
.shopg {
  top: -25px;
}

 /* UP button */

 .upbutton {
   color: rgb(253, 67, 63);
   font-size: 38px;
 }

 .upstyle{
  left: auto;
 }

 .white {
   color: white;
 }

/* Footer */

.footer-dark {
  background-color: black;
  width: 100%;
  height: auto;
}

ol li{
  list-style-type: none;
}

.flex-container {
  flex-wrap: wrap;
}

.flex-container div {
  color: white;
}
